@import 'https://unpkg.com/swiper/swiper-bundle.css';
@import 'https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap';

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

:root {
    --color-light: #ffffff;
    --color-dark: #111111;
    --color-tree-poppy: #F8991A;
    --color-shark: #1C1E25;
    --color-concrete: #f2f2f2;
    --color-alabaster: #f7f7f7;
    --color-silver-chalice: #a9a9a9;
    --color-gray: #8c8c8c;

    --main-color: #ecf0f1;
  --point-color: #555;
  --size: 5px;


    --text-20: 2rem;

    --font-heebo: 'Heebo', sans-serif;
}


html { 
    font-size: 62.5%; 
    scroll-behavior: inherit !important;
}

body { 
    font-family: var(--font-heebo); 
    font-size: var(--text-20); 
    background: var(--color-light);
}

input, textarea { 
    outline: 0;
}

figure {
    margin: 0;
}

.webapp { 
    overflow: hidden; 
    min-height: 100vh; 
}

.container {
    padding: 0 10rem;
    width: 100%;

    @media(min-width: 992px) and (max-width: 1300px) {
        padding: 0 5rem;
    }

    @media(max-width: 820px) {
        padding: 0;
    }
}

.swal2-popup.swal2-toast .swal2-title {
    font-size: 1.8rem !important;
}