.form-default {
    text-align: left;
    margin-bottom: 2rem;

    .half-input-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }


    input {
        height: 5rem;
        line-height: 5rem;
        font-size: 1.4rem;
        padding: 0 2rem;
        font-weight: 400;
        border-radius: 0;
        margin-bottom: 1.5rem;
        color: var(--color-silver-chalice);
        width: 100%;
        border: none;
        background: var(--color-alabaster);
    }

    

    button {
        display: inline-block;
        padding: 0 5rem;
        font-size: 1.4rem;
        letter-spacing: 4px;
        height: 5rem;
        line-height: 5rem;
        border: 1px solid transparent;
        cursor: pointer;
        border-radius: 0;
        background: var(--color-tree-poppy);
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        transition: all .3s ease-in-out;

        &:hover {
            border: 1px solid var(--color-tree-poppy);
            background: var(--color-light);
            color: var(--color-tree-poppy);
        }
    }
}